
  <% if user_signed_in? %>
    <% unless @user.buyer == true %>
      <%= link_to 'Add Product', new_product_path %><br><br>
    <% end %>
  <% end %>

  <% if user_signed_in? %>
    <%= link_to 'View All Transactions', user_path(current_user.id) %><br><br>
  <% end %>
    <table>
      <tr>
        <th>PRODUCT ID</th>
        <th>USER</th>
        <th>PRODUCT NAME</th>
        <th>PRODUCT PRICE</th>
        <th>AMOUNT IN STOCK</th>
        <% if user_signed_in? %>
          <% if @user.buyer == true %>
            <th>Purchase Product</th>
          <% end %>
        <% end %>
        <th>VIEW PRODUCT</th>
        <% if user_signed_in? %>
          <th>EDIT PRODUCT</th>
          <th>DELETE PRODUCT</th>
          <th>ADD COMMENT</th>
        <% end %>
      </tr>
      <% @products.each do |p| %>
        <tr>
          <td><%= p.id %></td>
          <td><%= p.user.full_name %></td>
          <td><%= p.name %></td>
          <td><%= p.price %></td>
          <% if p.quantity != 0 %>
            <td><%= p.quantity %></td>
          <% else %>
            <td>OUT OF STOCK</td>
          <% end %>
          <% if user_signed_in? %>
            <% if @user.buyer == true %>
              <td>
                <% unless p.quantity == 0 %>
                  <%= button_to "Buy #{p.name}", buy_product_products_path(p) %>
                <% end %>
              </td>
            <% end %>
          <% end %>
          <td><%= link_to 'show', product_path(id: p.id) %></td>
          <% if user_signed_in? %>
            <td><%= link_to 'edit', edit_product_path(id: p.id) %></td>
            <td><%= link_to 'delete', product_path(id: p.id),
                            method: :delete%></td>
            <td><%= link_to 'add comment', new_product_comment_path(product_id: p.id) %></td>
          <% end %>
        </tr>
      <% end %>
    </table>

<%= paginate @product_pages %>
